DATABASE_PATH=./.data/store.bun.sqlite

#~ `cluster` service variables
# ./docker/shared/compose.yaml

CAMOUFOX_PROXY=
TRAWL_MITM_CA_DIR=
TRAWL_ORIGIN=

#~ `gateway` service variables
# ./docker/shared/compose.yaml

NITRO_APP_SECRET=
NITRO_UPSTREAM_URL=

#~ `trawl` service variables
# https://github.com/germondai/trawl/blob/dev/docker-compose.prod.yml
